<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @property.value %>
</p>

<p>
  <strong>In stock:</strong>
  <%= @property.in_stock %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
